html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    overflow: hidden;
    background: url(./background/0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
    margin: 0;
    transition: background 1s ease-in-out;
}

.no-loaded {
    display: none;
}

.container {
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
}

:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}

input {
    padding-left: 15px !important;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #ffffff;
}

button p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

input,
button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 90px 0px 90px;
}

.header-left,
.header-right {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    overflow: hidden;
}

.button-find img {
    margin-right: 15px;
    cursor: pointer;
}

.button-bg {
    min-width: 44px;
    min-height: 44px;
    border-radius: 5px;
    margin-right: 5px;
    max-height: 44px;
    background-color: #fff;
    background-color: rgba(180, 184, 187, 0.4);
    background: url(./icons/refresh.svg);
}

#feels-like {
    padding-right: 5px;
}

.button-lang {
    min-width: 71px;
    min-height: 44px;
    border-radius: 5px;
    max-height: 44px;
    margin: 0px 5px 0px 5px;
    background-color: rgba(174, 181, 185, 0.5);
}

.error-message {
    max-width: 350px;
    min-height: 100px;
    max-height: 120px;
    margin: 0;
    border-radius: 2px;
    background-color: rgba(174, 181, 185, 0.25);
    transform: translateX(-1000%);
    margin-left: 90px;
    transition: all 0.2s linear;
}

.error-message h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.open-error {
    transform: translateX(0);
}

.button-lang button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.5s linear;
}

.button-far {
    color: #ffffff;
    min-width: 44px;
    min-height: 44px;
    margin-left: 5px;
    max-height: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(76, 82, 85, 0.4);
}

.button-cels {
    color: #ffffff;
    min-width: 44px;
    min-height: 44px;
    max-height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(76, 82, 85, 0.4);
}

.active {
    background-color: rgba(174, 181, 185, 0.5);
}

.button-find {
    display: flex;
    min-width: 574px;
    min-height: 44px;
    margin-left: 5px;
    max-height: 44px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: rgba(76, 82, 85, 0.4);
    border: 1px solid rgba(228, 227, 227, 0.2);
}

.button-search {
    min-width: 101px;
    min-height: 44px;
    max-height: 44px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(174, 181, 185, 0.5);
    border: 1px solid rgba(228, 227, 227, 0.2);
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex: 1;
}

.container-left {
    flex: 0.5;
}

.container-right {
    display: flex;
    justify-content: flex-end;
    flex: 0.5;
}

.geo-maps {
    width: 675px;
    height: 375px;
    margin: 160px 90px 0px 0px;
    border-radius: 30px;
}

.geo-gps {
    display: flex;
    flex-direction: column;
    padding: 10px 90px 0px 0px;
}

.latitude,
.longitude {
    display: flex;
    justify-content: flex-end;
}
.latitude p,
.longitude p {
    position: relative;
    padding-right: 15px;
    top: -3px;
}

.latitude h3,
.longitude h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: capitalize;
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}

.weather-city,
.weather-now,
.weather-parametric,
.weather-tomorrow {
    display: flex;
}

h4 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 306px;
    line-height: 373px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

h5 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

h6 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 98px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

h2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
}

.weather-today {
    padding: 57px 0px 0px 90px;
}

.weather-params {
    padding: 169px 0px 0px 95px;
    z-index: 10;
}

.weather-temperature {
    display: flex;
}

.celsiu {
    padding-top: 50px;
    font-size: 100px;
    line-height: 0px;
    justify-content: flex-start;
    align-items: flex-end;
    color: #ffffff;
}

.celsiu-day {
    font-size: 100px;
    line-height: 115px;
    color: #ffffff;
}

.weather-cloud {
    position: fixed;
    padding: -50px 0px 0px 400px;
    animation: move 15s linear 0s infinite;
}

.weather-cloud img {
    margin-top: -50px;
    min-width: 250px;
}

.day-temperature {
    display: flex;
}

.day-cloud {
    padding: 10px 0px 0px 10px;
}

.day-cloud img {
    min-width: 100px;
}

.weather-first {
    padding: 0px 25px 0px 90px;
}
.weather-second {
    padding: 0px 25px 0px 25px;
}
.weather-third {
    padding: 0px 25px 0px 25px;
}

.weather-city p {
    padding: 0px 5px 0px 5px;
}

.weather-time {
    padding: 0px 20px 0px 20px;
}

.rotate {
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation: rotate 1s cubic-bezier(1, 0, 0, 1);
}

.show {
    display: block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

@keyframes move {
    0% {
        padding: 0px 0px 0px 400px;
    }
    25% {
        padding: 0px 0px 0px 340px;
    }
    50% {
        padding: -20px 0px 0px 335px;
    }
    75% {
        padding: -30px 0px 0px 370px;
    }
    100% {
        padding: 0px 0px 0px 400px;
    }
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    z-index: 1001;
}

.preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #dee1e4;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
}

.rowses {
    display: flex;
}

.rowses p {
    padding-right: 15px;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloader-bounce {
    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

.loaded_hiding .preloader {
    transition: 1s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}
